body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background: url('https://t4.ftcdn.net/jpg/03/86/82/73/360_F_386827376_uWOOhKGk6A4UVL5imUBt20Bh8cmODqzx.jpg') no-repeat center center fixed;
            background-size: cover;
            color: white;
        }

        .header {
            justify-content: center;
            display: flex;
            align-items: center;
            padding: 20px;
        }
        .logo {
            display: flex;
            width: 10%;
            height: 10%;
            margin-right: 50px;
        }

        .img_logo {
            width: 100%;
            height: auto;
        }
        .menu {
            display: flex;
            margin-top: 10px;
            text-align: center;
        }
        .menu a {
            font-weight: bold;
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
        }
        .menu a:hover {
            text-decoration: underline;
        }
        .content {
            margin: auto;
            max-width: 800px;
            text-align: left;
            color: white;
        }

        .bg_content {
            border-radius: 20px;
            margin: auto;
            background: rgba(0, 0, 0, 0.6);
            max-width: 900px;
        }

        nav {
            background-color: #1e2a38;
            padding: 1rem;
            display: flex;
            justify-content: center;
            gap: 2rem;

            border: 3px solid white ;
            border-radius: 10px;
            
        }
    nav a {
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
    }