{% extends "base.html" %}

{% block body %}
<div class="content">
    <h1>Bem-vindo à AUP</h1>
    <p>Você está prestes a embarcar em uma jornada intergaláctica!</p>
    <p>Aqui na AUP, exploramos os confins do universo, descobrimos novas civilizações e enfrentamos desafios
        cósmicos.</p>
    <p>Curiosidade nerd: Sabia que, se você viajasse à velocidade da luz, levaria cerca de 4,2 anos para chegar à
        estrela mais próxima do Sol, Proxima Centauri?</p>
    <p>Prepare-se para aventuras estelares e monte sua própria base espacial agora mesmo!</p>
</div>
{% endblock %}